RandData/*
PBS/*
Game.rxproj
Data/debuglog.txt
patch/Mods/PokeRadar.rb
patch/Mods/SWM - ItemRadar.png
patch/Mods/SWM - ItemRadar.rb
patch/Mods/SWM - TypeBattleIcons.png
patch/Mods/SWM - TypeBattleIcons.rb
patch/Mods/Debug.rb
Graphics/Pictures/Pokedex/pokedexTypesTINY.png
errorTranslation.txt