RandData/*
PBS/*
Game.rxproj
Data/debuglog.txt
Data/Mods/PokeRadar.rb
Data/Mods/SWM - ItemRadar.png
Data/Mods/SWM - ItemRadar.rb
Data/Mods/SWM - TypeBattleIcons.png
Data/Mods/SWM - TypeBattleIcons.rb
Graphics/Pictures/Pokedex/pokedexTypesTINY.png
errorTranslation.txt